.product-magazine-feature {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px 30px;
  padding: 20px;
}

.product-magazine-feature.logo--left {
  flex-direction: row-reverse;
}

.product-magazine-feature__text-content h2 {
    font-family: georgiapro, sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.product-magazine-feature__text-content p {
    line-height: 1.3;
}

.product-magazine-feature__text-content .section-title a {
  text-decoration: none;
  color: inherit;
}

.product-magazine-feature__text-content .section-title a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.product-magazine-feature__logo-content {
  max-width: 35%;
  flex-shrink: 0;
}

.product-magazine-feature__logo-content img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 749px) {
  .product-magazine-feature {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-magazine-feature.logo--left,
  .product-magazine-feature {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 990px) {
  .product-magazine-feature {
    padding: 30px;
    column-gap: 30px;
  }
}
